<nz-card>

  <div class="search">
    <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
      <input type="text" nz-input placeholder="请输入组合名称">
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch><i class="anticon anticon-search"></i></button>
    </ng-template>
  </div>

  <div class="search">
    <nz-radio-group [nzSize]="'small'">
      <label nz-radio-button nzValue="A">全部</label>
      <label nz-radio-button nzValue="B">启用</label>
      <label nz-radio-button nzValue="C">停用</label>
    </nz-radio-group>
  </div>


  <nz-table #basicTable
            nzBordered
            nzShowSizeChanger="true"
            [nzWidthConfig]="['30px','200px','60px',null,'100px','100px',null,'50px','100px']"
            [nzTitle] = "titleTemp"
            [nzShowTotal] = "totalItemsTemp"
            [nzNoResult] = "noResultTemp"
            [nzPageSizeOptions]="[20,50,100]"
            (nzCurrentPageDataChange)="currentPageDataChange($event)"
            [nzData]="combo" nzPageSize="5">

    <thead>
    <tr>
      <th
          rowspan="2"
          nzShowCheckbox
          [(nzChecked)]="allChecked"
          [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="checkAll($event)"
      >
      </th>
      <th rowspan="2">组合SKU<nz-divider nzType="vertical"></nz-divider>名称</th>
      <th colspan="2">商品信息</th>
      <th rowspan="2" *ngIf="checkDisplay('combo_cost')">组合成本￥</th>
      <th rowspan="2" *ngIf="checkDisplay('combo_weight')">组合重量g</th>
      <th rowspan="2" *ngIf="checkDisplay('create_time')">创建时间</th>
      <th rowspan="2" *ngIf="checkDisplay('status')">状态</th>
      <th rowspan="2">操作</th>
    </tr>

    <tr>
      <th>缩略图</th>
      <th>库存SKU<nz-divider nzType="vertical"></nz-divider>捆绑数量<nz-divider nzType="vertical"></nz-divider>中文名称</th>
    </tr>

    </thead>

    <tbody  *ngFor="let data of basicTable.data">

      <tr *ngFor="let s of data.skus; index as i" >
        <td *ngIf="i===0" [attr.rowspan]="data.skus.length" nzShowCheckbox [(nzChecked)]="data.checked" (nzCheckedChange)="refreshStatus($event)"></td>
        <td *ngIf="i===0" [attr.rowspan]="data.skus.length">
          <div>{{data.combo_code}}</div>
          <div>{{data.combo_name}}</div>
        </td>
        <td>
          <img src="http://placehold.it/40x40">
        </td>
        <td>
          <div>{{s.sku}}x <span class="green">{{s.quanlity}}</span></div>
          <div>{{s.name}}</div>
        </td>

        <td *ngIf="i===0 && checkDisplay('combo_cost')"
            [attr.rowspan]="data.skus.length">
          11
        </td>

        <td *ngIf="i===0 && checkDisplay('combo_weight')" [attr.rowspan]="data.skus.length">120g</td>
        <td *ngIf="i===0 && checkDisplay('create_time')" [attr.rowspan]="data.skus.length">{{data.create_time}}</td>

        <td *ngIf="i===0 && checkDisplay('status')" [attr.rowspan]="data.skus.length">
          <nz-tag [nzColor]="'green'" *ngIf="data.status">启用</nz-tag>
          <nz-tag [nzColor]="'red'" *ngIf="!data.status">停用</nz-tag>
        </td>
        <td *ngIf="i===0" [attr.rowspan]="data.skus.length">
          <nz-dropdown [nzTrigger]="'click'">
            <button nz-button nz-dropdown [nzSize]="'small'"><span>处理</span> <i class="anticon anticon-down"></i></button>

            <ul nz-menu>
              <li nz-menu-item><i class="anticon anticon-edit"></i>&nbsp;编辑</li>
              <li nz-menu-item class="red"><i class="anticon anticon-delete"></i>&nbsp;删除</li>
            </ul>
          </nz-dropdown>
        </td>
      </tr>




    </tbody>
  </nz-table>

  <ng-template #totalItemsTemp let-total>
    总共 {{total}} 个组合
  </ng-template>

  <ng-template #noResultTemp>
    <i class="fa fa-child fa-5x"></i>木有！
  </ng-template>

  <ng-template #titleTemp>
    <div class="operating">

      <button nz-button [nzType]="'primary'"><i class="anticon anticon-plus"></i>新增组合SKU</button>
      <button nz-button [disabled]="disabledButton"><i class="anticon anticon-edit"></i>批量编辑</button>
      <button nz-button [nzType]="'danger'" [disabled]="disabledButton"><i class="anticon anticon-delete"></i>删除</button>

      <button nz-button class="at_right" (click)="setDisplay()"><i class="anticon anticon-setting"></i>自定义</button>

      <nz-dropdown class="at_right" [nzTrigger]="'click'">
        <button nz-button nz-dropdown >
          <i class="anticon anticon-cloud-download"></i>
          导入/导出
          <i class="anticon anticon-down"></i>
        </button>
        <ul nz-menu>
          <li nz-menu-item><i class="anticon anticon-cloud-upload-o"></i>&nbsp;模板导入新增组合SKU</li>
          <li nz-menu-item><i class="anticon anticon-cloud-upload-o"></i>&nbsp;模板导入组合虚拟SKU</li>
          <li nz-menu-item><i class="anticon anticon-cloud-download-o"></i>&nbsp;导出组合SKU</li>
        </ul>
      </nz-dropdown>

      <button nz-button [disabled]="disabledButton" [nzType]="'primary'" [nzLoading]="operating" (click)="operateData()">
        Reload{{checkedNumber}}
      </button>
      <span style="margin-left: 8px;" *ngIf="checkedNumber">共选中 {{checkedNumber}} 项</span>
    </div>
  </ng-template>
</nz-card>
