<div><label nz-checkbox nzDisabled [ngModel]="true">SKU</label></div>
<div><label nz-checkbox nzDisabled [ngModel]="true">中文名称</label></div>
<div><label nz-checkbox [(ngModel)]="display.image">缩略图</label></div>
<div><label nz-checkbox [(ngModel)]="display.status">产品状态</label></div>
<div><label nz-checkbox [(ngModel)]="display.reg_status">注册状态</label></div>
<div><label nz-checkbox [(ngModel)]="display.cost">成本价</label></div>
<div><label nz-checkbox [(ngModel)]="display.weight">重量</label></div>
<div><label nz-checkbox [(ngModel)]="display.create_time">创建时间</label></div>
<div><label nz-checkbox [(ngModel)]="display.supplier">供应商</label></div>
