<nz-card>
  <nz-tabset>
  <nz-tab nzTitle="海外仓">

    <div class="search">
      <nz-radio-group
        [(ngModel)]='current_warehouse'
        (ngModelChange)="OS_listFilter()"
        [nzSize]="'small'"
        *ngFor="let data of wh">
        <label nz-radio [nzValue]=data.id>
          <nz-tag *ngIf="current_warehouse==data.id" [nzColor]="'#108ee9'">{{data.wh_name}}</nz-tag>
          <nz-tag *ngIf="current_warehouse!=data.id">{{data.wh_name}}</nz-tag>
        </label>
      </nz-radio-group>
    </div>

    <div class="search">

      <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
        <input [(ngModel)]='os_search' (keyup.enter)="OS_listFilter()" type="text" nz-input placeholder="SKU | 产品名称搜索">
      </nz-input-group>
      <ng-template #suffixIconButton>
        <i class="anticon anticon-close-circle" (click)="cleanSearch()" *ngIf="os_search"></i>
        <button nz-button nzType="primary" nzSearch (click)="OS_listFilter()"><i class="anticon anticon-search"></i></button>
      </ng-template>
    </div>


    <div class="search">
      <nz-radio-group
        [(ngModel)]='doi_status'
        (ngModelChange)="OS_listFilter()"
        [nzSize]="'small'">
        <label nz-radio-button nzValue="">全部</label>
        <label nz-radio-button nzValue="FAST"><nz-badge nzStatus="success"></nz-badge>快周转</label>
        <label nz-radio-button nzValue="NORMAL"><nz-badge nzStatus="processing"></nz-badge>正常周转</label>
        <label nz-radio-button nzValue="WARN"><nz-badge nzStatus="warning"></nz-badge>偏慢</label>
        <label nz-radio-button nzValue="SLOW"><nz-badge nzStatus="error"></nz-badge>慢周转</label>
      </nz-radio-group>

      <nz-radio-group
        [(ngModel)]='is_onsale'
        (ngModelChange)="OS_listFilter()"
        [nzSize]="'small'">
        <label nz-radio-button nzValue="">全部</label>
        <label nz-radio-button nzValue="true">在售</label>
        <label nz-radio-button nzValue="false">停售</label>
      </nz-radio-group>

      <nz-radio-group
        [(ngModel)]='is_return'
        (ngModelChange)="OS_listFilter()"
        [nzSize]="'small'">
        <label nz-radio-button nzValue="">全部</label>
        <label nz-radio-button nzValue="false">在仓库存</label>
        <label nz-radio-button nzValue="true">退货商品</label>
      </nz-radio-group>

      <button [nzSize]="'small'" nz-button class="at_right" (click)="setDisplay()"><i class="anticon anticon-setting"></i>自定义</button>

      <nz-tooltip [nzTitle]="'最近同步时间'">
        <span nz-tooltip class="at_right"><i class="fa fa-clock-o" aria-hidden="true"></i>2018-08-28 22:56:30</span>
      </nz-tooltip>

      <nz-popover [nzPlacement]="'bottomLeft'" [nzTrigger]="'click'">
        <button nz-button nzSize="small" nz-popover>排序<i class="anticon anticon-caret-down"></i></button>
        <ng-template #nzTemplate>
          <div class="order">
              <p>可用库存
                <nz-radio-group
                  nzSize="small"
                  [(ngModel)]='ordering'
                  (ngModelChange)="OS_listFilter()">
                <label nz-radio-button nzValue="available_qty"><i class="anticon anticon-caret-up"></i></label>
                <label nz-radio-button nzValue="-available_qty"><i class="anticon anticon-caret-down"></i></label>
                </nz-radio-group>
              </p>
            <p>待出库
              <nz-radio-group
                nzSize="small"
                [(ngModel)]='ordering'
                (ngModelChange)="OS_listFilter()">
                <label nz-radio-button nzValue="reserved_qty"><i class="anticon anticon-caret-up"></i></label>
                <label nz-radio-button nzValue="-reserved_qty"><i class="anticon anticon-caret-down"></i></label>
              </nz-radio-group>
            </p>
            <p>在途库存
              <nz-radio-group
                nzSize="small"
                [(ngModel)]='ordering'
                (ngModelChange)="OS_listFilter()">
                <label nz-radio-button nzValue="on_way_qty"><i class="anticon anticon-caret-up"></i></label>
                <label nz-radio-button nzValue="-on_way_qty"><i class="anticon anticon-caret-down"></i></label>
              </nz-radio-group>
            </p>
            <p>历史入库
              <nz-radio-group
                nzSize="small"
                [(ngModel)]='ordering'
                (ngModelChange)="OS_listFilter()">
                <label nz-radio-button nzValue="his_in_qty"><i class="anticon anticon-caret-up"></i></label>
                <label nz-radio-button nzValue="-his_in_qty"><i class="anticon anticon-caret-down"></i></label>
              </nz-radio-group>
            </p>
            <p>历史销量
              <nz-radio-group
                nzSize="small"
                [(ngModel)]='ordering'
                (ngModelChange)="OS_listFilter()">
                <label nz-radio-button nzValue="his_sell_qty"><i class="anticon anticon-caret-up"></i></label>
                <label nz-radio-button nzValue="-his_sell_qty"><i class="anticon anticon-caret-down"></i></label>
              </nz-radio-group>
            </p>
            <p>30天平均销量
              <nz-radio-group
                nzSize="small"
                [(ngModel)]='ordering'
                (ngModelChange)="OS_listFilter()">
                <label nz-radio-button nzValue="avg_sell_qty"><i class="anticon anticon-caret-up"></i></label>
                <label nz-radio-button nzValue="-avg_sell_qty"><i class="anticon anticon-caret-down"></i></label>
              </nz-radio-group>
            </p>
            <p>30天平均库存
              <nz-radio-group
                nzSize="small"
                [(ngModel)]='ordering'
                (ngModelChange)="OS_listFilter()">
                <label nz-radio-button nzValue="avg_stock"><i class="anticon anticon-caret-up"></i></label>
                <label nz-radio-button nzValue="-avg_stock"><i class="anticon anticon-caret-down"></i></label>
              </nz-radio-group>
            </p>
            <p>15天平均销量
              <nz-radio-group
                nzSize="small"
                [(ngModel)]='ordering'
                (ngModelChange)="OS_listFilter()">
                <label nz-radio-button nzValue="avg_sell_qty15"><i class="anticon anticon-caret-up"></i></label>
                <label nz-radio-button nzValue="-avg_sell_qty15"><i class="anticon anticon-caret-down"></i></label>
              </nz-radio-group>
            </p>
            <p>15天平均库存
              <nz-radio-group
                nzSize="small"
                [(ngModel)]='ordering'
                (ngModelChange)="OS_listFilter()">
                <label nz-radio-button nzValue="avg_stock15"><i class="anticon anticon-caret-up"></i></label>
                <label nz-radio-button nzValue="-avg_stock15"><i class="anticon anticon-caret-down"></i></label>
              </nz-radio-group>
            </p>
            <p>7天平均销量
              <nz-radio-group
                nzSize="small"
                [(ngModel)]='ordering'
                (ngModelChange)="OS_listFilter()">
                <label nz-radio-button nzValue="avg_sell_qty7"><i class="anticon anticon-caret-up"></i></label>
                <label nz-radio-button nzValue="-avg_sell_qty7"><i class="anticon anticon-caret-down"></i></label>
              </nz-radio-group>
            </p>
            <p>7天平均库存
              <nz-radio-group
                nzSize="small"
                [(ngModel)]='ordering'
                (ngModelChange)="OS_listFilter()">
                <label nz-radio-button nzValue="avg_stock7"><i class="anticon anticon-caret-up"></i></label>
                <label nz-radio-button nzValue="-avg_stock7"><i class="anticon anticon-caret-down"></i></label>
              </nz-radio-group>
            </p>
            <p>DOI
              <nz-radio-group
                nzSize="small"
                [(ngModel)]='ordering'
                (ngModelChange)="OS_listFilter()">
                <label nz-radio-button nzValue="doi"><i class="anticon anticon-caret-up"></i></label>
                <label nz-radio-button nzValue="-doi"><i class="anticon anticon-caret-down"></i></label>
              </nz-radio-group>
            </p>
            <p>默认时间
              <nz-radio-group
                nzSize="small"
                [(ngModel)]='ordering'
                (ngModelChange)="OS_listFilter()">
                <label nz-radio-button nzValue="create_time"><i class="anticon anticon-caret-up"></i></label>
                <label nz-radio-button nzValue="-create_time"><i class="anticon anticon-caret-down"></i></label>
              </nz-radio-group>
            </p>

          </div>
        </ng-template>
      </nz-popover>

      <nz-switch
        [(ngModel)]="edit_status"
        nzCheckedChildren="编辑"
        nzUnCheckedChildren="编辑">
      </nz-switch>
    </div>


    <div class="search">

      <nz-table #basicTable
                nzShowSizeChanger="true"
                [nzLoading] = "operating"
                nzLoadingDelay="500"
                [nzShowTotal] = "totalItemsTemp"
                [nzNoResult] = "noResultTemp"
                nzFrontPagination="false"
                [nzPageSizeOptions]="[20,50,100]"
                [nzTotal]="totalCount"
                (nzPageSizeChange) = "pageSizeChange($event)"
                (nzPageIndexChange) = "pageIndexChange($event)"
                [nzData]="wh_stock" [(nzPageSize)]=pageSize>

        <thead>
        <tr>
          <th class="set_center" nzWidth="60px" *ngIf="checkDisplay('image')">缩略图</th>
          <th nzWidth="300px">
            <div>SKU</div>
            <div>中文名称</div>
          </th>
          <th class="set_center" *ngIf="checkDisplay('available_qty')">可用库存</th>
          <th class="set_center" *ngIf="checkDisplay('reserved_qty')">待出库</th>
          <th class="set_center" *ngIf="checkDisplay('on_way_qty')">在途库存</th>
          <th class="set_center" *ngIf="checkDisplay('his')">
            <div>历史入库数量</div>
            <div>历史销量</div>
          </th>
          <th class="set_center" *ngIf="checkDisplay('avg')">
            <div>近30天平均销量</div>
            <div>近30天平均库存</div>
          </th>
          <th class="set_center" *ngIf="checkDisplay('avg15')">
            <div>近15天平均销量</div>
            <div>近15天平均库存</div>
          </th>
          <th class="set_center" *ngIf="checkDisplay('avg7')">
            <div>近7天平均销量</div>
            <div>近7天平均库存</div>
          </th>
          <th class="set_center" *ngIf="checkDisplay('doi')">DOI</th>
          <th *ngIf="edit_status" nzWidth="100px">操作</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td *ngIf="checkDisplay('image')">
            <img src="http://placehold.it/50x50">
          </td>
          <td>
            <div><a (click)="editProduct(data.id)">
              <nz-badge *ngIf="data.doi <= 30 && data.doi > 0" nzStatus="success"></nz-badge>
              <nz-badge *ngIf="data.doi <= 50 && data.doi > 30" nzStatus="processing"></nz-badge>
              <nz-badge *ngIf="data.doi <= 60 && data.doi > 50" nzStatus="warning"></nz-badge>
              <nz-badge *ngIf="data.doi > 60" nzStatus="error"></nz-badge>
              <nz-badge *ngIf="data.doi == 0" nzStatus="default"></nz-badge>
              {{data.sku}}
            </a></div>
            <div>{{data.cn_name}}</div>
          </td>

          <td class="set_center" *ngIf="checkDisplay('available_qty')">{{data.available_qty}}</td>
          <td class="set_center" *ngIf="checkDisplay('reserved_qty')">{{data.reserved_qty}}</td>
          <td class="set_center" *ngIf="checkDisplay('on_way_qty')">{{data.on_way_qty}}</td>

          <td class="set_center" *ngIf="checkDisplay('his')">
            <div>{{data.his_in_qty}}</div>
            <div>{{data.his_sell_qty}}</div>
          </td>
          <td class="set_center" *ngIf="checkDisplay('avg')">
            <div>{{data.avg_sell_qty}}</div>
            <div>{{data.avg_stock}}</div>
          </td>
          <td class="set_center" *ngIf="checkDisplay('avg15')">
            <div>{{data.avg_sell_qty15}}</div>
            <div>{{data.avg_stock15}}</div>
          </td>
          <td class="set_center" *ngIf="checkDisplay('avg7')">
            <div>{{data.avg_sell_qty7}}</div>
            <div>{{data.avg_stock7}}</div>
          </td>
          <td class="set_center" *ngIf="checkDisplay('doi')">{{data.doi}}</td>
          <td *ngIf="edit_status">
            <nz-tag (click)="changeStatus(data.id, data.is_onsale)" *ngIf="data.is_onsale" [nzColor]="'#f50'">不再销售</nz-tag>
            <nz-tag (click)="changeStatus(data.id, data.is_onsale)" *ngIf="!data.is_onsale" [nzColor]="'#87d068'">恢复销售</nz-tag>
          </td>

        </tr>
        </tbody>
      </nz-table>

      <ng-template #totalItemsTemp let-total>
        总共 {{total}} 个产品
      </ng-template>

      <ng-template #noResultTemp>
        <i class="fa fa-child fa-5x"></i>木有！
      </ng-template>

      <!--<ng-template #titleTemp>-->
        <!--<div class="operating">-->
          <!--<span><i class="fa fa-clock-o" aria-hidden="true"></i>2018-08-28 22:56:30</span>-->
          <!--<button nz-button class="at_right" (click)="setDisplay()"><i class="anticon anticon-setting"></i>自定义</button>-->

        <!--</div>-->
      <!--</ng-template>-->

    </div>

  </nz-tab>
  <nz-tab nzTitle="本地仓">
    Content of Tab Pane 2
  </nz-tab>
  </nz-tabset>

</nz-card>
