<div class="login_home">
  <div class="login_window">
    <div class="login_banner">
      <div><i class="fa fa-user-circle fa-3x" aria-hidden="true"></i></div>
      <div>跨境狗ERP系统-请登录</div>
    </div>

    <div class="login_form">
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <!--用户名-->
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="anticon anticon-user">
              <input formControlName="username" type="text" nz-input placeholder="邮箱" nzSize="large">
            </nz-input-group>
          <nz-form-explain *ngIf="getFormControl('username').dirty&&getFormControl('username').hasError('required')">请输入邮箱!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <!--密码-->
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzPrefixIcon="anticon anticon-lock">
              <input formControlName="password" type="password" nz-input placeholder="登录密码" nzSize="large">
            </nz-input-group>
            <nz-form-explain *ngIf="getFormControl('password').dirty&&getFormControl('password').hasError('required')">请输入密码!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <!--<nz-form-extra class="error" *ngIf="error_status">{{ error_message }}</nz-form-extra>-->
        <nz-alert nzType="error" nzMessage="{{ error_message }}" nzShowIcon *ngIf="error_status"></nz-alert>

        <button type="submit" class="login_button" nz-button [nzType]="'primary'" [nzLoading]="isLogging">
          <span>登录</span>
        </button>

        <div class="create">
          <div class="rem">
            <nz-form-item>
              <nz-form-control>

                <nz-dropdown class="create_btn" [nzTrigger]="'click'">
                  <a class="ant-dropdown-link" nz-dropdown>
                    没有账号？ <i class="anticon anticon-down"></i>
                  </a>
                  <ul nz-menu>
                    <li nz-menu-item><a [routerLink]="['/register']">注册账号</a></li>
                    <li nz-menu-item>忘记密码？</li>
                  </ul>
                </nz-dropdown>
              </nz-form-control>





            </nz-form-item>
          </div>

        </div>

      </form>

    </div>
  </div>

</div>

