<ul nz-menu [nzMode]="'inline'">
  <li nz-submenu>
          <span title>
            <i class="fa fa-database" aria-hidden="true"></i>
            <span>产品库</span>
          </span>
    <ul>
      <li nz-menu-item><a [routerLink]="['/home/product']">SKU管理</a></li>
      <li nz-menu-item><a [routerLink]="['/home/combo']">组合SKU</a></li>
      <li nz-menu-item><a [routerLink]="['/home/supplier']">供应商</a></li>
    </ul>
  </li>

  <li nz-submenu>
          <span title>
            <i class="anticon anticon-appstore"></i>
            <span>平台订单</span>
          </span>
    <ul>
      <li nz-submenu>
        <span title>eBay订单</span>
        <ul>
          <li nz-menu-item>全部订单</li>
          <li nz-menu-item>待发货订单</li>
          <li nz-menu-item>已发货订单</li>
          <li nz-menu-item>未付款订单</li>
          <li nz-menu-item>订单取消请求</li>
        </ul>
      </li>
    </ul>
  </li>

  <li nz-submenu>
          <span title>
            <i class="anticon anticon-appstore"></i>
            <span>客服管理</span>
          </span>
    <ul>
      <li nz-menu-item>消息列表</li>
      <li nz-menu-item>eBay Case</li>
      <li nz-menu-item>PayPal Case</li>
      <li nz-menu-item>模板设置</li>
    </ul>
  </li>

  <li nz-submenu>
          <span title>
            <i class="anticon anticon-appstore"></i>
            <span>账号表现</span>
          </span>
    <ul>
      <li nz-menu-item>账号数据</li>
    </ul>
  </li>

  <li nz-submenu>
          <span title>
            <i class="anticon anticon-appstore"></i>
            <span>海外仓</span>
          </span>
    <ul>
      <li nz-menu-item>海外仓库存</li>
      <li nz-menu-item>头程入仓管理</li>
    </ul>
  </li>

  <li nz-submenu>
          <span title>
            <i class="anticon anticon-appstore"></i>
            <span>补货管理</span>
          </span>
    <ul>
      <li nz-menu-item>智能补货</li>
      <li nz-menu-item>备货计划</li>
    </ul>
  </li>

  <li nz-submenu>
          <span title>
            <i class="anticon anticon-appstore"></i>
            <span>报表管理</span>
          </span>
    <ul>
      <li nz-menu-item>营业额报表</li>
      <li nz-menu-item>热销产品</li>
      <li nz-menu-item>热销链接</li>
      <li nz-menu-item>库存价值</li>
      <li nz-menu-item>费用支出</li>
    </ul>
  </li>

  <li nz-submenu>
          <span title>
            <i class="anticon anticon-appstore"></i>
            <span>财务管理</span>
          </span>
    <ul>
      <li nz-menu-item>PayPal账号管理</li>
      <li nz-menu-item>退款管理</li>
      <li nz-menu-item>交易管理</li>
      <li nz-menu-item>PayPal Invoice管理</li>
    </ul>
  </li>

  <li nz-submenu>
          <span title>
            <i class="anticon anticon-appstore"></i>
            <span>系统设置</span>
          </span>
    <ul>
      <li nz-menu-item>用户信息</li>
      <li nz-menu-item>账号管理</li>
      <li nz-menu-item>平台授权</li>
      <li nz-menu-item>通用设置</li>
    </ul>
  </li>

</ul>
