<div class="sidenav-btn">
  <button class="topicon ripple" (click)="sideToggle()">
    <i class="fa fa-bars fa-2x"></i>
  </button>
</div>

<div class="logo">跨境狗</div>
<div class="notice-app flex-row">

  <div class="app">
    <button class="topicon ripple">
      <nz-badge [nzCount]="88" >
        <i class="fa fa-bell fa-2x"></i>
      </nz-badge>
    </button>
  </div>

  <div class="app">
    <button class="topicon ripple">
      <nz-badge [nzCount]="1" >
        <i class="fa fa-weixin fa-2x"></i>
      </nz-badge>
    </button>
  </div>

  <div class="app">
    <button class="topicon ripple">
      <nz-badge [nzCount]="1" >
        <i class="fa fa-cog fa-2x"></i>
      </nz-badge>
    </button>
  </div>

  <div class="app">
    <button class="topicon ripple">
      <nz-badge [nzCount]="0" >
        <i class="fa fa-user-circle-o fa-2x"></i>
      </nz-badge>
    </button>
  </div>

</div>
